################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ProjectPS.ServicePS.WebApplication/bin
/src/ProjectPS.ServicePS.WebApplication/obj
